@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Comic Neue';
        src: url('../fonts/ComicNeue-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Rotunda';
        src: url('../fonts/rotunda.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Patriciana';
        src: url('../fonts/patriciana.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Corinthia';
        src: url('../fonts/—Åorinthia.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Scriptorama';
        src: url('../fonts/scriptorama.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Comforta';
        src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));

}

@layer utilities {
    .text-balance {
        /*text-wrap: balance;*/
    }
}
